<style>
    .div-sinopse {
        height: 70px;
    }

    .card {
      margin-bottom: 20px;
    }

    .doado {
        color: green;
        float: right;
    }

</style>

<div class="alert alert-primary text-center" role="alert">
    Seja bem-vindo, Gustavo
</div>

<div class="row row-cols-1 row-cols-md-1">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h6 class="doado">Doado</h6>
                <h5 class="card-title">Biologia Ens. Médio</h5>
                <h6 class="card-subtitle mb-2 text-muted">Biologia</h6>
                <h6 class="card-subtitle mb-2">Autor: Amabis</h6>
                <div class="div-sinopse">
                    <p class="card-text">Coleção em 3 volumes completa para estudantes do ensino médio.</p>
                </div>
                <a href="#" class="card-link">Editar</a>
                <a href="#" class="card-link">Programar entrega</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Biologia para o Ensino Médio</h5>
                <h6 class="card-subtitle mb-2 text-muted">Biologia</h6>
                <h6 class="card-subtitle mb-2">Autor: Não informado</h6>
                <div class="div-sinopse">
                    <p class="card-text">Volume único para estudantes do Ensino Médio.</p>
                </div>
                <a href="#" class="card-link">Editar</a>
                <a href="#" class="card-link">Programar entrega</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Biologia Ens. Médio</h5>
                <h6 class="card-subtitle mb-2 text-muted">Biologia</h6>
                <h6 class="card-subtitle mb-2">Autor: Amabis</h6>
                <div class="div-sinopse">
                    <p class="card-text">Coleção em 3 volumes completa para estudantes do ensino médio.</p>
                </div>
                <a href="#" class="card-link">Editar</a>
                <a href="#" class="card-link">Aceitar solicitação</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Biologia para o Ensino Médio</h5>
                <h6 class="card-subtitle mb-2 text-muted">Biologia</h6>
                <h6 class="card-subtitle mb-2">Autor: Não informado</h6>
                <div class="div-sinopse">
                    <p class="card-text">Volume único para estudantes do Ensino Médio.</p>
                </div>
                <a href="#" class="card-link">Editar</a>
                <a href="#" class="card-link">Aceitar solicitação</a>
            </div>
        </div>
    </div>    

</div>
