<div class="alert alert-primary text-center" role="alert">
    CADASTRO DE ALUNOS
</div>

<div class="row g-2">
	<fieldset class="col-md-8">
        <label for="text-aluno-nome" class="form-label mb-0">Nome completo:</label>			
        <input id="text-aluno-nome" type="text" class="form-control form-control-sm infoco" placeholder="Digite seu nome completo">
    </fieldset>

	<fieldset class="col-md-4">
        <label for="text-aluno-login" class="form-label mb-0">Login:</label>
        <input id="text-aluno-login" type="text" class="form-control form-control-sm" placeholder="Crie um nome para acesso ao app">
    </fieldset>

    <fieldset class="col-md-4">
        <label for="text-aluno-senha" class="form-label mb-0">Senha:</label>
        <input type="password" id="text-aluno-senha" class="form-control form-control-sm" placeholder="Crie sua senha">
    </fieldset>    
    
    <fieldset class="col-md-4">
        <label for="text-confirmar-senha" class="form-label mb-0">Confirmar senha:</label>
        <input type="password" id="text-confirmar-senha" class="form-control form-control-sm" placeholder="Confirme sua senha">
    </fieldset>    

	<fieldset class="col-md-2">
        <label for="select-turno" class="form-label mb-0">Turno:</label>
        <select id="select-turno" class="form-select form-select-sm">
            <option value="0">Manhã</option>
            <option value="1">Tarde</option>
            <option value="2">Noite</option>
        </select>
    </fieldset>

	<fieldset class="col-md-1">
        <label for="text-aluno-serie" class="form-label mb-0">Série:</label>
        <input id="text-aluno-serie" type="text" class="form-control form-control-sm">
    </fieldset>

	<fieldset class="col-md-1">
        <label for="text-aluno-turma" class="form-label mb-0">Turma:</label>
        <input id="text-aluno-turma" type="text" class="form-control form-control-sm text-uppercase">
    </fieldset>


    <fieldset class="col-md-4">
        <button id="botao-aluno-salvar" class="form-control btn btn-primary mt-3">Salvar</button>
    </fieldset>
</div>
