<div class="alert alert-primary text-center" role="alert">
    CADASTRO DE LIVROS
</div>

<p id="p-doador" class="text-muted mb-0">Doador: </p>

<div class="row g-2">
	<fieldset class="col-md-5">
        <label for="text-livro-titulo" class="form-label mb-0">Título:</label>			
        <input id="text-livro-titulo" type="text" class="form-control form-control-sm infoco" placeholder="Título completo do livro">
    </fieldset>

    <fieldset class="col-md-4">
        <label for="text-livro-autor" class="form-label mb-0">Autor:</label>
        <input id="text-livro-autor" type="text" class="form-control form-control-sm infoco" placeholder="nome do autor do livro">
    </fieldset>    
    
	<fieldset class="col-md-3">
        <label for="select-livro-materia" class="form-label mb-0">Matéria:</label>
        <select id="select-livro-materia" class="form-select form-select-sm">
            <option value="1">Arte</option>
            <option value="2">Biologia</option>
            <option value="3">Espanhol</option>
            <option value="4">Filososfia</option>
            <option value="5">Física</option>
            <option value="6">Geografia</option>
            <option value="7">História</option>
            <option value="8">Inglês</option>
            <option value="9">Língua portuguesa</option>
            <option value="10">Literatura</option>
            <option value="11">Matemática</option>
            <option value="12">Química</option>
            <option value="13">Sociologia</option>
            <option value="0">Outros...</option>
        </select>
    </fieldset>
    
    <fieldset class="col-md-12">
        <label for="text-livro-sinopse" class="form-label mb-0">Informações sobre o livro:</label>
        <textarea id="text-livro-sinopse" class="form-control"></textarea>
    </fieldset>    

    <fieldset class="col-md-4">
        <button id="botao-livro-salvar" class="form-control btn btn-primary mt-3">Salvar</button>
    </fieldset>

    <fieldset class="col-md-4">
        <button id="botao-livro-voltar" class="form-control btn btn-primary mt-3">Voltar</button>
    </fieldset>

</div>
