<div class="alert alert-primary text-center" role="alert">
    ÁREA DO DIRETOR
</div>

<div class="row g-2">
	<fieldset class="col-md-4">
        <label for="text-cpf" class="form-label mb-0">Diretor(a):</label>			
        <input id="text-diretor-login" type="text" class="form-control form-control-sm" placeholder="Digite seu nome de login">
    </fieldset>

    <fieldset class="col-md-4">
        <label for="inputPassword" class="form-label mb-0">Senha:</label>
        <input type="password" id="text-diretor-senha" class="form-control form-control-sm" placeholder="Digite sua senha">
    </fieldset>    

    <fieldset class="col-md-4">
        <button id="botao-logar-diretor" class="form-control btn btn-primary mt-3">Logar</button>
    </fieldset>
</div>
