<div class="alert alert-primary text-center" role="alert">
    ÁREA DO DOADOR
</div>

<div class="row g-2">
	<fieldset class="col-md-4">
        <label for="text-doador-login" class="form-label mb-0">Doador:</label>			
        <input type="text" id="text-doador-login" class="form-control form-control-sm" placeholder="Digite seu nome">
    </fieldset>

    <fieldset class="col-md-4">
        <label for="text-doador-senha" class="form-label mb-0">Senha:</label>
        <input type="password" id="text-doador-senha" class="form-control form-control-sm" placeholder="Digite sua senha">
    </fieldset>    

    <fieldset class="col-md-4">
        <button id="botao-logar-doador" class="form-control btn btn-primary mt-3">Logar</button>
    </fieldset>
</div>
