<div class="row row-cols-1 row-cols-md-2 g-g">
    <div class="col">
        <div class="card">
            <img src="front/img/aluna.png" class="card-img-top" alt="...">
            <div class="card-body">
                <button id="botao-aluno" class="form-control btn btn-secondary">Sou aluno</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="front/img/doador.png" class="card-img-top" alt="...">
            <div class="card-body">
                <button id="botao-doador" class="form-control btn btn-secondary">Sou doador</button>
            </div>
        </div>
    </div>

</div>

<footer>
    <hr>
    <h6>Base de Operações: Escola Estadual Sen. Nilo de S. Coelho</h6>
</footer>